<!-- fragments/navbar.html
     Included in every page via:
     <nav th:replace="fragments/navbar :: navbar"></nav>
-->
<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
    <a class="navbar-brand" href="home">My Spring Web Project</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="gallery">Gallery</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="gallery2">Gallery2</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="mail">Mail</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Hi User: <span th:text="${session.username}"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="logout">Logout</a>
            </li>
        </ul>
    </div>
</nav>