<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head :: head('Sign Up')"></head>
<body>

<div class="auth-wrapper">
    <div class="card">
        <div class="card-header">
            <h3>Sign Up</h3>
        </div>
        <div class="card-body">
            <form method="POST" action="/signupPost">
                <div class="mb-3">
                    <label class="form-label" style="color:#fff;">Username</label>
                    <input type="text" class="form-control" name="username">
                </div>
                <div class="mb-3">
                    <label class="form-label" style="color:#fff;">Password</label>
                    <input type="password" class="form-control" name="password">
                </div>
                <div class="mb-3">
                    <label class="form-label" style="color:#fff;">Email</label>
                    <input type="email" class="form-control" name="email">
                </div>
                <input type="submit" value="SignUp" class="btn btn-accent float-end">
            </form>
        </div>
        <div class="card-footer">
            <div class="d-flex justify-content-center links">
                <a href="/">Back</a>
            </div>
        </div>
    </div>
</div>


</body>
</html>